    :root {
        --text-color: black;
        --background-color: rgb(179, 106, 11);
        --link-color: black;
        --hover-color: #ddd;
    }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'helvetica',sans-serif;
    background-color: var(--background-color);
}
a {
    color: var(--link-color);
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    height: 80px;
}
nav .left a {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
}
nav .right a {
    color: var(--text-color);
    margin: 0 10px;
}
nav .right a:last-child {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 8px 16px;
    border-radius: 4px;
}
nav .right a span {
    margin-left: 5px;
}
.aboutme-section {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin: 50px 0;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
}

.aboutme-section .text {
    flex: 5;
}
.aboutme-section .headshot img{
    flex: 2;
    display: flex;
    justify-content: right;
}
.aboutme-section .text h2 {
    font-size: 40px;
    margin-bottom: 10px;
}
.aboutme-section .text .links {
    font-size: 20px;
    margin-top: 25px;
}
.aboutme-section .text .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 1s;
}
.aboutme-section .text .links a:hover {
    color: white;
    border: 2px solid gray;
}
.aboutme-section .headshot img{
    width: 350px;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.skills-section {
    padding: 0 50px;
    margin-bottom: 100px;
}
.skills-section h2 {
    font-size: 35px;
    font-family: 'Arial Black', Gadget, sans-serif;
    text-align: center;
}
.skills-section .text {
    margin-bottom: 20px;
    text-align: center;
}
.skills-section .cells {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.skills-section .cells .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    padding: 10px 20px;
    border: 1px solid grey;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 200px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.skills-section .cells .cell img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px
}
.experience-section{
    padding: 0 50px;
    margin-bottom: 100px;
}
.experience-section h2 {
    font-size: 35px;
    font-family: 'Arial Black', Gadget, sans-serif;
    margin-bottom: 30px;
}
.experience-section .group {
    display: flex;
    gap: 50px;
}
.experience-section .group .personal-experience {
    flex: 2;
    text-align: center;
}
.experience-section .group .text {
    flex: 8;
    text-align: left;
}
.experience-section .group .personal-experience img {
    aspect-ratio: 1/1;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
.experience-section .group .personal-experience p{
    font-weight: 600;
}
.experience-section .group .personal-education p:last-child {
    font-weight: normal;
}
.contact-section {
    padding: 0 50px;
    margin-bottom: 100px;
}
.contact-section h2 {
    font-size: 35px;
}
.contact-section .group {
    display: flex;
    gap: 50px;
}
.contact-section .group .text {
    flex: 3;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contact-section .group form {
    flex: 3;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.contact-section .group form input,
.contact-section .group form textarea {
   font-family: 'helvetica',sans-serif;
    margin-bottom: 15px;
    border: 2px solid rgb(77, 70, 64);
    background-color: rgb(228, 154, 120);
    padding: 10px;
    outline: none;
    resize: none;
    margin-top: 10px;
}
.contact-section .group form button {
  font-size: 16px;
  font-family: 'helvetica',sans-serif;
    background-color: var(--text-color);
    color: white;
    border: none;
    height: 50px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color .1s;
}
.contact-section .group form button:hover {
    background-color: var(--hover-color);
    filter: brightness (0.9);
}
 .slider-wrapper {
        max-width: 48rem;
        position: relative;
        margin: 0 auto;
    }
    .slider {
        display: flex;
        aspect-ratio: 16/9;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
        border-radius: 0.5rem;
    }
    .slider img {
        flex: 1 0 100%;
        scroll-snap-align: start;
        object-fit: cover;
    }
    .slider-nav {
        display: flex;
        column-gap: 1rem;
        position: absolute;
        bottom: 1.25rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
    .slider-nav a {
        width: .5rem;
        height: .5rem;
        border-radius: 50%;
        border: none;
        background-color: #fff;
        opacity: 0.75;
        transition: opacity ease  250ms;
    }
    .slider-nav a:hover {
        opacity: 1;
    }
@media (max-width: 800px) {
    .aboutme-section .text h2 {
        font-size: 35px;
    }
}
@media (max-width: 740px) {
    .aboutme-section  {
        flex-direction: column-reverse;
}
    }
    .aboutme-section .headshot img{
        width: 300px;
        margin-bottom: 20px;
    }
    .experience-section {
        text-align: center;
    }
    .experience-section .group {
        flex-direction: column;
    }
    .contact-section .group {
        flex-direction: column;
    }
    .container {
        padding: 2rem;
    }
   

@media (max-width: 600px) {


    nav {
        padding: 0 20px;
    }
    nav .right a {
        font-size: 22px;

    }
       nav .right a span {
        display: none;
    }
    nav .right a:last-child {
        color: var(--text-color);
        background-color: transparent;
        padding: 0;
        display: none;
    }
 
    .aboutme-section {
        padding: 0 20px;
    
 }  
 .aboutme-section .text h2 {
        font-size: 30px;
    }
    .skills-section {
            padding: 0 20px;
        }
    .skills-section .cells .cell span{
        font-size: 16px;
    }
}