* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}

:root {
    --bg-color: #fff;
    --snd-bg-color: #d5fdf9;
    --text-color: #000;
    --main-color: #974722;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 45vh;
    padding: 10rem 5% 2rem;
}
a {
    color: var(--link-color);
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    align-items: center;
    height: 80px;
    background-color: rgb(216, 104, 0);
}
nav .left a {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
}
nav .right a {
    color: var(--text-color);
    margin: 0 10px;
}
nav .right a:last-child {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 8px 8px;
    border-radius: 4px;
}
nav .right a span {
    margin-left: 5px;
}
.aboutme-section {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin: 50px 0;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
    background-color: rgb(219, 110, 110);
}

.aboutme-section .text {
    flex: 5;
}
.aboutme-section .headshot img{
    flex: 2;
    display: flex;
    justify-content: right;
}
.aboutme-section .text h2 {
    font-size: 40px;
    margin-bottom: 10px;
}
.aboutme-section .text .links {
    font-size: 20px;
    margin-top: 25px;
}
.aboutme-section .text .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 1s;
}
.aboutme-section .text .links a:hover {
    color: white;
    border: 2px solid gray;
}
.aboutme-section .headshot img{
    width: 350px;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.skills-section {
    padding: 0 50px;
    margin-bottom: 100px;
    background-color: silver;
}
.skills-section h2 {
    font-size: 35px;
    font-family: 'Arial Black', Gadget, sans-serif;
    text-align: center;
}
.skills-section .text {
    margin-bottom: 20px;
    text-align: center;
}
.skills-section .cells {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.skills-section .cells .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    padding: 10px 20px;
    border: 1px solid grey;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 200px;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 20px;
}
.skills-section .cells .cell img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px
}
.experience-section{
   padding: 0 15px;
    align-items: left;
    text-align: left;
    justify-content: space-around;
    margin-bottom: 10%;
}
.experience-section h2 {
    font-size: 35px;
    font-family: 'Arial Black', Gadget, sans-serif;
    justify-content: center;
    align-items: left;
}
.experience-section .text {
    flex:6;
    margin-top: 8%;
    text-align: left;
}
.experience-section .personal-experience {
    justify-content: left;
    flex:2;
    display: inline-flex;
}

.experience-section .personal-experience img {
    aspect-ratio: 1/1;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    display: flex;
    margin-right: 15%;
    text-align: center;
    
   
}
.experience-section .personal-experience p{
    font-weight: 600;
    font-size: 16;
    justify-content: center;
    text-align: center;

}
.experience-section .personal-experience p:last-child {
    font-weight: bold;
    justify-content: center;
}
.contact-section {
    padding: 0 50px;
    margin-bottom: 100px;
}
.contact-section h2 {
    font-size: 35px;
}
.contact-section .group {
    display: flex;
    gap: 50px;
}
.contact-section .group .text {
    flex: 3;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contact-section .group form {
    flex: 3;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.contact-section .group form input,
.contact-section .group form textarea {
   font-family: 'helvetica',sans-serif;
    margin-bottom: 15px;
    border: 2px solid rgb(77, 70, 64);
    background-color: rgb(228, 154, 120);
    padding: 10px;
    outline: none;
    resize: none;
    margin-top: 10px;
}
.contact-section .group form button {
  font-size: 16px;
  font-family: 'helvetica',sans-serif;
    background-color: var(--text-color);
    color: white;
    border: none;
    height: 50px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color .1s;
}
.contact-section .group form button:hover {
    background-color: var(--hover-color);
    filter: brightness (0.9);
}
 .slider-wrapper {
        max-width: 60rem;
        position: relative;
        margin: 0 auto;
    }
    .slider {
        display: flex;
        aspect-ratio: 16/9;
        overflow-x: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
        border-radius: 0.5rem;
    }
    .slider img {
        flex: 1 0 100%;
        scroll-snap-align: start;
        object-fit: cover;
    }
    .slider-nav {
        display: flex;
        column-gap: 1rem;
        position: absolute;
        bottom: 1.25rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
    .slider-nav a {
        width: .5rem;
        height: .5rem;
        border-radius: 50%;
        border: none;
        background-color: #8017d6;
        opacity: 0.75;
        transition: opacity ease  250ms;
    }
    .slider-nav a:hover {
        opacity: 1;
    }
    .gallery__grid {
  margin-block: 1rem;
  display: inline;
  gap: 1rem;
  justify-content: center;
  margin-left: 2rem;
  align-items: center;
}
.services h2 {
    margin-bottom: 5rem;
    text-align: center;
}
.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--snd-bg-color);
    padding: 6rem 2rem 6rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.3rem solid var(--bg-color);
    transition: 0.3s ease;
}

.services-container .services-box:hover {
    background-color: var(--main-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 5rem;
    color: var(--main-color);
}
.services-box h3 {
    font-size: 2.6rem;
}
.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}
.gallery__grid img {
  transition: 0.3s;
  max-width: 60%;
  
}

.gallery__grid:hover img:not(:hover) {
  opacity: 0.5;
}

.gallery__btn {
  text-align: center;
}
@media (max-width: 1000px){
    .nav {
        padding: 1%;
    }
}
@media (max-width: 800px) {
    .aboutme-section .text h2 {
        font-size: 35px;
    }
}
@media (max-width: 740px) {
    .aboutme-section  {
        flex-direction: column-reverse;
}
    }
    .aboutme-section .headshot img{
        width: 300px;
        margin-bottom: 20px;
    }
    .experience-section {
        text-align: center;
    }
    .experience-section .group {
        flex-direction: column;
    }
    .contact-section .group {
        flex-direction: column;
    }
    .container {
        padding: 2rem;
    }
   

@media (max-width: 600px) {


    nav {
        padding: 0 20px;
    }
    nav .right a {
        font-size: 22px;

    }
       nav .right a span {
        display: none;
    }
    nav .right a:last-child {
        color: var(--text-color);
        background-color: transparent;
        padding: 8px 8px;
    }
 
    .aboutme-section {
        padding: 0 20px;
    
 }  
 .aboutme-section .text h2 {
        font-size: 30px;
    }
    .skills-section {
            padding: 0 20px;
        }
    .skills-section .cells .cell span{
        font-size: 16px;
    }
}