* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}

:root {
    --bg-color: #fff;
    --snd-bg-color: #d5fdf9;
    --text-color: #000;
    --main-color: #974722;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}


.header { 
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    background: var(--main-color);
    justify-content: space-between;
    padding: 2rem 5%;
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
}
.logo {
    font-size: 3rem;
    color: var(--bg-color);
    font-weight: 700;
    cursor: default;
    transition: 0.3s ease;
}
        .heading {
        font-size: 6rem;
        text-align: center;
        justify-content: center;
        }
        
.Webtext {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    margin-top: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5;
}
.web img {
    margin-top: 2rem;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    animation: floatImage 4s ease-in-out infinite;
    transition: 0.4s ease;

}

.web img:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 35px var(--main-color),
                0 0 55px var(--main-color);

}
 .heading2 {
        font-size: 6rem;
        text-align: center;
        justify-content: center;
        margin-bottom: 8rem;
        }

        .villagetext{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        margin-top: 5rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 8rem;     
            
        }
        .villageheadshot img {
            width: 50%;
            border: 2px solid #ff3d0036;
            border-radius: 13px;
            box-shadow: 4px 7px 7px 0px #00000042;
            cursor: pointer;
            margin:  10rem 0 10rem 0;
            transition: 400ms;
            justify-content: center;
        }
        .villageheadshot img:hover {
            filter: grayscale;
            transform: scale(1.03);
        }